body {
  font-family: Arial;
}
#main-heading {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 150px 120px 100px;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 10px;
  align-items: center;
}

#todo-input,
#todo-date {
  font-size: 15px;
  padding: 10px 5px;
}

.btn-delete {
  background-color: #b23e3e;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 0px;
  cursor: pointer;
}

.btn-todo {
  background-color: #1bb64f;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 0px;
  cursor: pointer;
}

#div-container {
  width: 300px;
  margin: 0 auto;
}
